:root {
    --headHeight: 15%;
    --footHeight: 2rem;
    --mainHeight: 68vh;
    --maxContentHeight: 78vh;
    /* --white: #ffffff; */
  }

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    /* remember to choose a nice font */
    background-color: #ffffff;
    height: 100%;
    margin: 0;
    /* Colour's are bad, I know! */
}

div.wrap{ height:100%; overflow:hidden; }

.music-player iframe{
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100vw;
    max-height: 25vh;

}

.main-title {
    position: fixed;
    top: 0;
    padding: 0 3rem 1.5rem 3rem;
    height: var(--headHeight);
    background-color: bisque;
    /* z-index: 3; */
}

.all-things{
    margin: 3em 0;
    /* padding: 0 1.5em; might remove */
    position: relative;
    top: 0;
    max-width: 98vw;
    max-height: var(--mainHeight);
    min-width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.svg-move{
    background-color: blue;
}

div.middle-buttons {
    max-height: var(--maxContentHeight);
    background-color: red;
}



.middle-buttons img {
    width: 100%;
    height: 100%;
}

.middle-buttons div{
    object-fit: contain;
}

nav {
    display: flex;
    position: relative;
    top: 0;
    flex-flow: column nowrap;
    gap: 1.2 rem;
    max-width: 50%;
    max-height: var(--maxContentHeight);
    justify-content: space-between;
    /* float: right; */
    /* z-index: 3; */
    background-color: #82c89b;
}

nav div{
    padding: 20px;
    background-color: antiquewhite;
    border: black 2px solid;

}

footer {
    position: relative;
    bottom: 0;
    min-height: var(--footHeight);
    background-color: black;
}

/* @media (min-width: 1024px) {} */