:root {
    --headHeight: 15vh;
    --footHeight: 5vh;
    --mainHeight: 95vh;
    --maxContentHeight: 78vh;
    /* --white: #ffffff; */
  }

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    /* remember to choose a nice font */
    background-color: #ffffff;
    height: 100%;
    margin: 0;
    /* Colour's are bad, I know! */
}

div.wrap{ 
    height:100%; 
    overflow:hidden; 
    background-color: burlywood;
    /* temporary! */
    display: none;
}

/* .music-player iframe{
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100vw;
    max-height: 25vh;

} */

.main-title {
    position: absolute;
    top: 0;
    padding: 0 3rem 1.5rem 3rem;
    height: var(--headHeight);
    width: 75vw;
    background-color: bisque;
    /* z-index: 3; */
}

h1 {
    font-size: 3.5rem;
}

.wel-wrap{
    position: absolute;
    width: 75vw;
    top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.h1-span1 {
    letter-spacing: 1rem;
}

.h1-span2 {
    /* position: absolute; */
    letter-spacing: 2rem;
}

.h1-span3 {
    letter-spacing: 4rem;
}

.h1-span4 {
    position: absolute;
    right: 5%;
    bottom: 1rem;
    letter-spacing: 0.2rem;
}

.p-small-span {
    position: absolute;
    bottom: 1rem;
}

.all-things{
    /* margin: 3em 0; */
    /* padding: 0 3rem; */
    position: relative;
    top: 17%;
    max-width: 80vw;
    height: var(--maxContentHeight);
    min-width: fit-content;
    /* contain: content; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: rgb(122, 181, 233);
}

.svg-move{
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.middle-buttons {
    max-height: var(--maxContentHeight);
    background-color: red;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.middle-buttons img {
    width: 100%;
    height: 100%;
}

.boxer{
    position: relative;
    
}

.boxer h2 {
    position: absolute;
    /* background-color: azure; */
    /*might adjust these two*/
    top: 39%;
    left: 20%;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    flex-flow: column nowrap;
    width: 20vw;
    max-height: 85vh;
    justify-content: space-between;
    padding: 5vh 0 ;
    background-color: #82c89b;
}

nav div{
    padding:  3rem 1.5rem;
    text-align: center;
    background-color: antiquewhite;
    border: black 2px solid;
    border-radius: 2rem;
    margin: 0.5rem;

}

footer {
    position: fixed;
    bottom: 0;
    min-height: var(--footHeight);
    width: 100vw;
    background-color: black;
}

/*for smaller 'puter*/
/* @media (min-width: 1024px) {} */


/*for tablets 'puter*/
/* @media (min-width: 768px) {} */

/*for phones 'puter*/
/* @media (min-width: 425px) {} */